@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
h1 {
  font-size: 3vw;
  color: lighten(white, 25);
}
body {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
}
footer {
  background-color: $color_cloud_approx;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.test {
  font-size: 1.2rem;
  color: $color_mariner_approx;
}
.video {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  height: 100%;
  max-height: 800px;
  background: transparent $url_2 no-repeat 0 0;
  background-size: cover;
}
#section2 {
  padding-top:15vh;
  background-image: $url_3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
#section4 {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: auto;
  position: relative;
  text-align: center;
  background: $white;
  height: 100px;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 2.2vw;
  color: $white;
  background-color: $color_mirage_approx;
  z-index: 99999;
  transition-duration: $default-transition-duration;
}
#menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color_mine_shaft_approx;
  }
  li {
    float: left;
    a {
      display: block;
      color: $white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      &:hover {
        background-color: $color_woodsmoke_approx;
      }
    }
  }
}
.text-block {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  font-size: 3vw;
  color: $white;
}
.icon {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 50px;
  width: 250px;
}
.multi-colum {
  position: relative;
  text-align: center;
  width: 100%;
  top: 50px;
  margin: auto;
  height: 300px;
}
.cols {
  font-size: 2vw;
  color: $white;
  width: 33%;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: $black_60;
  z-index: 1;
}
.modal-content {
  background-color: $white;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid $silver;
  width: 60vw;
}
#close {
  float: right;
  top: 0;
  font-weight: bold;
}
.close {
  &:hover {
    color: $black;
  }
  &:focus {
    color: $black;
  }
}
#section3 {
  padding-top: 5vh;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
#left-arrow {
  position: relative;
  left: -35vw;
  top: 40vh;
  z-index: 10;
}
#right-arrow {
  position: relative;
  left: 35vw;
  top: -37vh;
  z-index: 10;
}
.service {
  background: $color_portage_approx;
}
#list {
  margin-left: 0;
}
#carousel {
  height: 75vh;
  width: 60vw;
  margin-left: 20vw;
  overflow: hidden;
  ul {
    width: 180vw;
    padding: 0;
    margin: 0;
    li {
      width: 60vw;
      height: 75vh;
      list-style: none;
      float: left;
    }
  }
}
.slide {
  width: 60vw;
  height: 75vh;
}
.background img {
  width: 100%;
  margin: 0 auto;
  position: relative;
}