$blue           : #2176C7;
$dark-gray      : #1f1f23;
$white          : #d4d4d4;

$color_cloud_approx: #c6c2be;
$color_mariner_approx: #2176c7;
$color_mirage_approx: #1f1f23;
$color_mine_shaft_approx: #333;
$color_woodsmoke_approx: #111;
$black_60: rgba(0,0,0,0.6);
$silver: #c0c0c0;
$black: black;
$color_portage_approx: #83a4ff;

$url_2: url(../media/uiuc1.jpg);
$url_3: url(../media/background.jpg);



$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;